<%= render "layouts/errors", :object => @skill %>

<div class="container">
  <br>
  <%= form_for @skill do |f| %>
  <%= f.label :skill_name %>
  <%= f.text_field :skill_name %>
  <br>
  <%= f.label :skill_description %>
  <%= f.text_field :skill_description %>
  <br>
  <%= f.submit  %>
  <% end %>
</div>
