<%= render "layouts/errors", :object => @project %>

<div class="container">
  <br>
  <%= form_for @project do |f| %>
  <%= f.label :project_name %>
  <%= f.text_field :project_name %>
  <br>
  <%= f.label :project_technology %>
  <%= f.text_field :project_technology %>
  <br>
  <%= f.label :project_description %>
  <%= f.text_field :project_description %>
  <br>
  <%= f.submit  %>
  <% end %>
</div>
