<div class="container">
  <h3><%= @project.project_name %></h3>
  <% if current_user && current_user.admin %>
    <a><%= link_to "Edit This Project", edit_project_path(@project) %></a>
  <% end %>


    <div class="card" id="project-show">
      <div class="card-body">
        <li style="list-style:none;">

          <%= image_tag @project.image.url(:large) %>

          <br>
          <strong>Project Name: </strong><%= @project.project_name %>
          <br>
          <strong>Technologies Used: </strong><%= @project.project_technology %>
          <br>
          <strong>Description: </strong><%= @project.project_description %>
          <br>
          <a href="<%= @project.github %>">Github</a>

        </li>
      </div>
    </div>
</div>
