<!DOCTYPE html>
<html>
  <head>
    <title>Hannah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/navbar' %>

      <h2 id="flash-notice"><%= flash[:notice] %></h2>

    </div>
    <%= yield %>
    <div class="container">

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
